@import './../../styles/color.scss';
@import './../../styles/button.scss';
@import './../../styles/global.scss';

.header {
  background-color: $primary;
  padding: 1rem 0;
  width: 100%;
  position: sticky; /* Fixed position - sit on top of the page */
  top: 0;
  transition: 0.4s; /* Add a transition effect (when scrolling - and font size is decreased) */

  & .logoText {
    @media #{$media-mobile} {
      display: none;
    }
  }
}

.isSticky {
  background-color: $dark;
  color: $primary;
  width: 100%;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.selected {
  box-shadow: 0 0 6px 3px white;
}

.langButton {
  padding: 5px 4px;
}

.langContainer {
  display: flex;
  gap: 8px;
  padding: 8px 4px;
}

.logoContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  & p {
    margin-bottom: 0;
  }
}

.logo {
  width: 3rem;
  height: 3rem;
}

.actionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
