$media-mobile: 'screen and (max-width: 767px)';
$media-tablets: 'screen and (min-width: 768px) and (max-width: 1199px)';
$media-desktop: 'screen and (min-width: 1200px) and (max-width: 1919px)';
$media-desktop-large: 'screen and (min-width: 1920px)';

$border-radius: 0.375rem;

.wrapper {
  width: 100%;
  @media #{$media-desktop-large} {
    padding: 0 15rem;
  }
  @media #{$media-desktop} {
    padding: 0 8rem;
  }
  @media #{$media-tablets} {
    padding: 0 2rem;
  }

  @media #{$media-mobile} {
    padding: 0 1rem;
  }
}

.formControl {
  display: block;
  padding: 0.875rem 1.375rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 2px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &.full {
    width: 100%;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    // box-shadow: 0 0 0 0.15rem rgba(191, 196, 213, 0.5);
    // outline-color: rgba(191, 196, 213, 0.5);
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
  }
  &:focus,
  &:focus-visible {
    outline: rgba(13, 110, 253, 0.25);
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
  }
  // &:active {
  //   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  // }

  &[disabled] {
    color: #979797;
    background-color: #e9ecef;
    opacity: 1;
    pointer-events: none;
  }
}

.cardView {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0.375rem;
  padding: 16px;
}

.logoText {
  font-family: monospace;
  font-size: 2rem;
}
