@import './button.scss';
@import './color.scss';
@import './global.scss';
@import './typography.scss';

.row {
  display: flex;
  gap: 20px;

  .method {
    flex: 0 0 auto;
  }

  .url {
    flex: 1 0 auto;
  }
}

.textArea {
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.textAreaWithButton {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formField + .formField {
  margin-top: 1rem;
}

.responseWrapper {
  display: block;
  width: inherit;
  overflow: auto;

  @media #{$media-mobile} {
    max-width: calc(100vw - 30px);
  }

  @media #{$media-desktop-large} {
    max-width: calc(100vw - 30rem);
  }
  @media #{$media-desktop} {
    max-width: calc(100vw - 16rem);
  }
  @media #{$media-tablets} {
    max-width: calc(100vw - 4rem);
  }

  @media #{$media-mobile} {
    max-width: calc(100vw - 2rem);
  }
}
