@import '../../styles/global.scss';

.variablesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  flex: 1 1 100%;

  .variablesTitle {
    margin: 10px 0 0;
  }

  .fieldset {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: auto auto;
    grid-template-areas:
      'nameInput button'
      'valueInput button';
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    grid-gap: 2px 10px;

    .variableInput {
      flex: 1 1 100%;
      padding: 2px 8px;
    }

    .nameInput {
      grid-area: nameInput;
    }
    .valueInput {
      grid-area: valueInput;
    }
    .addBtn {
      padding: 10px 6px;
      grid-area: button;
    }
  }

  .variablesTabsContainer {
    display: flex;

    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;

    .tab {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 8px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 5px;
    }

    .tabBtn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 6px;
      font-size: 16px;
      padding: 2px;
      &:hover {
        box-shadow: 0 0 6px 0 yellow;
      }
    }

    .removeBtn {
      pointer-events: all;
      padding: 2px;

      &:hover {
        box-shadow: 0 0 6px 0 red;
      }
    }
  }
}
